h1,
p {
  text-align: center;
}

p {
  font-size: larger;
}

body {
  background-color: blanchedalmond;
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin: 40px;
}

footer a {
  margin: 20px;
  color: darkolivegreen;
}

img {
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
